.icon-wifi {
  list-style: none;
}

.iam-online {
  cursor: default !important;
  color: #47C333;
  font-size: 1.6em;
}

.iam-lagging {
  cursor: default !important;
  color: #D78922;
  font-size: 1.6em;
}

.iam-not-online {
  cursor: default !important;
  border-radius: 5px;
  color: #f6f6f6;
  img {
    height: 1.6em;
  }
}

.spiner-server {
  font-size: 2.5em;
  margin-left: 45%;
}

.open-status-server {
  background-color: #4C4C4C;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  position: fixed;
  border-radius: 10px;
  z-index: 1033;
  &.opened {
    display: block !important;
  }
  .status-server{
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 10%;
    color: black;
    margin-left: 23%;
    padding: 30px;
    width: 53%;
    height: 55%;
    h4 {
      margin: 20px;
    }
  }
}